
.heading h1
{
    text-align: center;
}
.main-form
{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.main-form input
{
    width: 500px;
}
.alert
{
    width: 500px;
}
span{
    background-color: #0c0c88;
    color: white;
    padding: 0px 10px;
}